#competence {
  @include mobile-only {
    flex-direction: column;
    width: 90%;
  }
  z-index: 4;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  margin-top: -80px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  .heading {
    width: 100%;
    text-align: center;
  }

  .competence__category {
    @include mobile-only{
      width: 100%;
    }
    width: 33.333333333%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 45px;
    color: white;

    h3 {
      font-weight: bold;
      text-align: center;
      width: 85%;
      margin: 0 auto 25px auto;
      padding-bottom: 20px;
      border-bottom: 3px solid white;
    }

    li {
      margin-bottom: 15px;
    }

    &--frontend {
      background-color: #333333;
    }

    &--backend {
      background-color: rgb(111, 45, 189);
    }

    &--devop {
      h3 {
        border-color: #232323;
      }
      background-color: rgb(245, 247, 73);
      color: #232323;
    }
  }
}