#competence {
  @include mobile-only {
    flex-direction: column;
    width: 90%;
  }
  z-index: 4;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  margin-top: -80px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  opacity: 0;
  .heading {
    width: 100%;
    text-align: center;
  }

  &.animate {
    animation: appear-bottom 900ms 800ms ease-in-out both;
  }

  .competence__category {
    @include mobile-only{
      width: 100%;
    }
    z-index: 2;
    position: relative;
    width: 33.333333333%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 45px;
    color: white;

    .icon {
      display: block;
      position: absolute;
      font-size: 10vw;
      right: 12%;
      z-index: -1;
    }

    h3 {
      font-weight: bold;
      text-align: center;
      width: 85%;
      margin: 0 auto 25px auto;
      padding-bottom: 20px;
      border-bottom: 3px solid white;
    }

    li {
      margin-bottom: 15px;
    }

    &--frontend {
      background-color: #333333;
      .icon {
        color: darken(#333333, 3%)
      }
    }

    &--backend {
      background-color: rgb(111, 45, 189);
      .icon {
        color: darken(rgb(111, 45, 189), 7%)
      }
    }

    &--devop {
      h3 {
        border-color: #232323;
      }
      background-color: rgb(245, 247, 73);
      color: #232323;
      .icon {
        color: darken(rgb(245, 247, 73), 16%)
      }
    }
  }
}

@keyframes appear-bottom {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}