.header {
  @include tablet-only {
    height: 90px;
    flex-direction: row;
    justify-content: space-between;
  }
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: map-get($colors, primary);
  transition: background-color 250ms ease-in-out;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;


  &:before {
    @include tablet-only {
      display: none;
    }
    font-family: monospace;
    color: darken(map-get($colors, primary), 8%);
    position: absolute;
    left: 2%;
    content: "<Hello world ! />";
    font-weight: bold;
    font-size: 10vh;
    height: 100vh;
    width: 100vh;
    text-align: center;
    transform: rotate(-90deg);
    transform-origin: center;
    transition: color 250ms ease-in-out;
  }

  &.step1 {
    & .header__menu {
      ul {
        flex-direction: row;
      }
    }
  }
  &.step2 {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    & .header__title {
      font-size: 1.3rem;
      letter-spacing: -1px;
      margin-bottom: 0;
    }
    & .header__menu__item {
      a {
        font-size: 1rem;
      }
    }
  }
}

#burger-button {
  display: none;
  @include tablet-only {
    display: block;
  }
}

.header__title {
  @include tablet-only {
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-left: 18px;
    letter-spacing: 0;
  }
  transition: font-size 150ms ease-in-out;
  font-family: $heading-font;
  color: map-get($colors, text-light);
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: -0.2rem;
  margin-bottom: 35px;
}

.header__menu {
  @include tablet-only{
    display: none;
  }
  ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
  }
}

.header__menu__item {
  position: relative;
  display: block;
  font-family: $heading-font;
  text-align: center;

  @for $i from 0 through 5 {
    &:nth-of-type(#{$i}n) a:before {
      clip-path: random-clip-path();
    }
  }

  a {
    position: relative;
    display: inline-block;
    font-size: $heading-font-size;
    color: map-get($colors, text-light);
    width: 100%;
    padding: 18px 35px;
    transition: color 250ms ease-in-out;


    &:before {
      z-index: -1;
      transform: scaleX(50%) scaleY(60%);
      content: ' ';
      background: lighten(map-get($colors, primary), 10%);
      display: block;
      top:0;
      bottom: 0;
      left:0;
      right: 0;
      position: absolute;
      margin: auto;
      transition: transform 250ms ease-in-out, background 250ms ease-in-out;
    }
  }



  &:hover, &.active {
    a {
      color: map-get($colors, primary);
      &:before {
        transform: scaleY(1) scaleX(1);
        background: map-get($colors, text-light);
      }
    }
  }
}