#my-work {
  margin-top: 60px;
  margin-bottom: 4rem;
  scroll-margin-top: 90px;
  width: 100%;
  .heading {
    color: map-get($colors, text-light);
    text-align: center;
    background: map-get($colors, text-dark);
    width: fit-content;
    margin: auto;
    padding: 18px 35px;
    clip-path: random-clip-path();
    opacity: 0;

    &.animate {
      animation: appear 700ms 800ms both ease-in-out;
    }
  }
}

.folder {
  @include tablet-only {
    width: 100%;
  }
  margin: 30px auto;
  margin-bottom: 50px;
  width: 90%;
  max-width: 1400px;
  opacity: 0;


  &.animate {
    animation: appear 1000ms 800ms both ease-in-out;
  }
}

.folder__tab-list {
  @include mobile-only {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
  }
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.folder__tab__container {
  @include mobile-only {
    margin: 0;
  }
  margin-left: -1.5%;
  margin-right: -1.5%;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

@include mobile-only {
  h3.folder__tab {
    margin: 0;
    padding: 7px 32px 9px;
    margin-bottom: 15px;

    &:before {
      transform: scaleX(50%) scaleY(80%);
    }
  }
}

.folder__tab {
  padding: 15px 80px 25px;
  font-family: $paragraph-font;
  color: map-get($colors, text-dark);
  font-weight: bold;
  cursor: pointer;
  margin-bottom: -10px;
  position: relative;
  transition: margin-bottom 250ms ease-in-out, background-color 250ms ease-in-out;

  &:before {
    z-index: -1;
    transform: scaleX(1) scaleY(1);
    content: ' ';
    background: lighten(map-get($colors, primary), 10%);
    display: block;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    position: absolute;
    margin: auto;
    transition: transform 250ms ease-in-out, background 250ms ease-in-out;
  }

  &--all {
    @include mobile-only {
      &:not(.active):before {
        background-color: transparentize(map-get($myWorksColor, all), 0.8);
      }
    }
    &:before {
      background-color: map-get($myWorksColor, all);
      clip-path: random-clip-path($x-max: 6, $y-max: 0);
    }
  }

  &--courses {
    @include mobile-only {
      &:not(.active):before {
        background-color: transparentize(map-get($myWorksColor, courses), 0.8);
      }
    }
    &:before {
      background-color: map-get($myWorksColor, courses);
      clip-path: random-clip-path($x-max: 6, $y-max: 0);
    }
  }

  &--freelance {
    @include mobile-only {
      &:not(.active):before {
        background-color: transparentize(map-get($myWorksColor, freelance), 0.8);
      }
    }
    &:before {
      background-color: map-get($myWorksColor, freelance);
      clip-path: random-clip-path($x-max: 6, $y-max: 0);
    }
  }

  &:hover, &.active {
    @include mobile-only {
      margin-bottom: 15px;

      &:before {
        transform: scale(1);
      }
    }
    margin-bottom: -1px;
  }

  &.active {
    z-index: 2;
  }

}

.folder__content {
  position: relative;
}

.folder__tab-content {
  @include mobile-only {
    padding: 10px;
    background: transparent!important;
    box-shadow: none;
  }
  position: relative;
  top: 0;
  height: 0;
  left: 0;
  width: 100%;
  padding: 50px;
  transition: opacity 250ms ease-in-out, background-color 250ms ease-in-out, height 800ms ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;


  &.all {
    background-color: map-get($myWorksColor, all);
  }

  &.courses {
    background-color: map-get($myWorksColor, courses);
  }

  &.freelance {
    background-color: map-get($myWorksColor, freelance);
  }
}

#myWork-elements {
  @include tablet-only {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mobile-only {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 15px;

  }
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;

  .card {
    cursor: pointer;
  }
}

@keyframes appear-bottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear-bottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}