:root {
  font-family: $paragraph-font;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  transition: background-color 250ms ease-in-out;
}

main {
  position: absolute;
  //margin-top: 100vh;
}

.heading {
  font-family: $heading-font;
  font-size: $heading-font-size;
}