:root {
  font-family: $paragraph-font;
}

html {
  scroll-behavior: smooth;
}

body {
  width:100%;
  overflow-x: hidden;
  transition: background-color 250ms ease-in-out;
}

.heading {
  font-family: $heading-font;
  font-size: $heading-font-size;
}

main {
  @include tablet-only {
    margin-top: 90px;
  }
}