@mixin clip-path-generation ($x-max: 6, $y-max: 4){
  @for $i from 0 through 5 {
    &:nth-of-type(#{$i}n) {
      clip-path: random-clip-path($x-max, $y-max);
    }
  }
}

@mixin animate-appear ($duration: 800, $delay: 200){
  animation: appear #{$duration}ms both;
  //Apparition progressive des éléments du menu (augmentation du animation-delay à chaque nouvel élément)
  @for $i from 0 through 20 {
    &:nth-of-type(#{$i}n) {
      animation-delay: #{$i * $delay}ms;
    }
  }
}

@mixin tablet-only {
  @media (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin mobile-only {
  @media (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}