$colors: (
  primary: #d90185,
  secondary: #758BFD,
  tertiary: #0045E0,
  text-light: #FFFDED,
  text-dark: #000680
);

$myWorksColor : (
  all: #00FFF0,
  courses: #FFC700,
  freelance: #FAFF00
);

$heading-font: "Passion One", cursive;
$paragraph-font: "Baloo 2", cursive;