$breakpoints : (
        mobile: 768px,
        tablet: 1024px,
);

$colors: (
  primary: #d90185,
  secondary: #758BFD,
  tertiary: #0045E0,
  text-light: #FFFDED,
  text-dark: #000680
);

$myWorksColor : (
  all: #00FFF0,
  courses: #FFC700,
  freelance: #FAFF00
);

$myWorksDarkColor : (
        all: #0043a8,
        courses: #863600,
        freelance: #FFC100
);

$heading-font: "Passion One", cursive;
$paragraph-font: "Baloo 2", cursive;